<div *ngIf="(jav$|async)">
  <div class="card mt-3 border-secondary bg-secondary">
    <h5 class="card-header p-2 dark-yellow">
      <label class="my-0">Loadout Name:
        <input class="loadoutName" [ngModel]="(jav$|async).name" placeholder="name" (change)="changeName($event)" />
      </label>
    </h5>

    <ul class="list-group list-group-flush">
      <app-basic-stat [stats]="armorStats"></app-basic-stat>
      <app-basic-stat [stats]="shieldStats"></app-basic-stat>
      <app-basic-stat [stats]="dmgStats"></app-basic-stat>
      <app-basic-stat [stats]="suppStats" [last]="true"></app-basic-stat>
    </ul>
  </div>

  <div class="card mt-3 border-secondary bg-secondary">
    <h5 class="card-header p-2 dark-yellow">Weapon Stats</h5>
    <ul class="list-group list-group-flush">
      <app-basic-stat [stats]="weapStats[0]"></app-basic-stat>
      <app-basic-stat [stats]="weapStats[1]" [last]="true"></app-basic-stat>
    </ul>
  </div>

  <div class="card mt-3 border border-secondary bg-secondary">
    <h5 class="card-header p-2 dark-yellow">Gear Stats</h5>
    <ul class="list-group list-group-flush">
      <app-basic-stat [stats]="gearStats[0]"></app-basic-stat>
      <app-basic-stat [stats]="gearStats[1]" [last]="true"></app-basic-stat>
    </ul>
  </div>

  <div class="card mt-3 border border-secondary">
    <h5 class="card-header p-2 dark-yellow">Debuffs</h5>
    <div class="card-body py-1 bg-grey rounded-bottom">
      <div class="btn-group btn-group-toggle col-12">
        <label class="btn-primary buff-button col-12 m-2 rounded" ngbButtonLabel>
          <input (click)="updateDebuff('beacon')" type="checkbox" ngbButton
            [ngModel]="(jav | async)?.debuffs.beacon">Target Beacon
        </label>
        <label class="btn-primary buff-button col-12 m-2 rounded" ngbButtonLabel>
          <input (click)="updateDebuff('acid')" type="checkbox" ngbButton [ngModel]="(jav | async)?.debuffs.acid">Acid
        </label>
      </div>
    </div>
  </div>
  <!--<pre *ngIf="devMode">{{ stats | json }}</pre>-->
</div>
{{stats$ | async | json}}