<div class="row">
  <div *ngFor="let itemDetails of (items$ | async)" class="card col-sm-12 col-md-6 border-secondary">
    <div class="card-body p-1">
      <h5 class="card-title my-1">{{itemDetails.name}}
        <i class="float-right fa fa-trash" aria-hidden="true" (click)="delete(itemDetails.idx)"></i>
        <i class="float-right fa fa-pencil-square-o px-3" aria-hidden="true" (click)="edit(itemDetails)"></i>
        <img class="comboImg" *ngIf="itemDetails.combo === 'Primer'" src="../../assets/primer.png">
        <img class="comboImg" *ngIf="itemDetails.combo === 'Detonator'" src="../../assets/detonator.png">
      </h5>
      <div class="row my-1">
        <div class="col-6 px-3 inscText" *ngFor="let i of itemDetails.inscs">
          <img src="{{i.png}}" /> {{ i.value }}% {{ i.type }} {{ i.stat === '(blank)' ? '' : i.stat }}
        </div>
      </div>
    </div>
  </div>

</div>