.image{
    height: 100%;
    width: 100%;
    background-image:url('../assets/Anthem_Texture_Topo_Grey.png');
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
}
