<h3>Privacy Notice</h3>
<p>
  This privacy notice discloses the privacy practices for javelin-stats.com. This privacy notice applies solely to
  information collected by this website. It will notify you of the following:
</p>
<ol>
  <li>What personally identifiable information is collected from you through the website, how it is used and with whom
    it may be shared.</li>
  <li>What choices are available to you regarding the use of your data.</li>
  <li>The security procedures in place to protect the misuse of your information.</li>
  <li>How you can correct any inaccuracies in the information.</li>
</ol>
<h5>Information Collection, Use, and Sharing</h5>
<p>
  Signing into javelin-stats.com is optional, and (eventually) will allow your saved data to persist across different
  devices. If you are not signed in, your build will be stored in your browser's localstorage, meaning it is only
  accessible to the device and browser used to enter the data. Using the social login provides me with only your public
  profile, which I can use to securely access and identify your data in my database. We will not sell or rent this
  information to anyone.
</p>
<p>
  We will not share your information with any third party outside of our organization. We may use the builds stored by
  users to aggregate anonymous statistical information like popular classes and builds.
</p>
<p>
  Unless you ask us to, we will not contact you via email.
</p>

<h5>Your Access to and Control Over Information</h5>
You can do the following at any time by contacting us via <a
  href="mailto://admin@javelin-stats.com">admin@javelin-stats.com</a>
<ul>
  <li>See what data we have about you, if any.</li>
  <li>Change/correct any data we have about you.</li>
  <li>Have us delete any data we have about you.</li>
  <li>Express any concern you have about our use of your data.</li>
</ul>

<h5>Security</h5>
<p>
  We take precautions to protect your information. We do not keep any sensitive information like passwords that would
  need encryption. Any public profile information used for account identification will be protected both online and
  offline.
</p>
<p>
  If you feel that we are not abiding by this privacy policy, you should contact us immediately via email at
  <a href="mailto://admin@javelin-stats.com">admin@javelin-stats.com</a>
</p>